// Font Sizes
$base-font-size: 16px;
$em-base: $base-font-size;
$base-font-family: 'Roboto', sans-serif;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1;
$heading-line-height: 1;

// Colors
$pale-green: #96c93d;
$white: #fff;

// Font Colors
$base-font-color: $white;

// Background Colors
$base-background-color: #fff;


