@import "variables";
@import 'bootstrap';
@import 'bootstrap-theme';
@import 'owl.carousel';
@import 'owl.theme.default';


body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
  min-width: 320px;
  transition: .3s all ease-out;
  color: $base-font-color;
  background-color: $base-background-color;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0;
}
p,
pre {
  margin: 0;
}
a {
  transition: .3s all ease-out;
  text-decoration: none;
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.container {
  position: relative;
}

//Extend classes
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.transition {
  -webkit-transition: .3s all ease-out;
  -moz-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  -ms-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

//Animation classes
.button__pulse--hover {
  position: relative;
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background-color: $pale-green;
    border-radius: 50px;
    z-index: -1;
    animation: none;
    width: 100%;
    height: 100%;
  }
  &:hover {
    &:before {
      -webkit-animation: pulse 1000ms ease infinite;
      animation: pulse 1000ms ease infinite;
    }
  }
}

.next__block--button {
    display: block;
    width: 30px;
    height: 60px;
    background:transparent url('../img/to-bottom-leaf.png') center no-repeat;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
}
.next__block--button--green {
  display: block;
    width: 30px;
    height: 60px;
    background:transparent url('../img/to-bottom-leaf-green.png') center no-repeat;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
}

//Titles blocks style
.block__title {
  font-size: 105px;
  font-weight: 200;
  position: relative;
  padding-left: 40px;
  &:after {
    display: block;
    content:'';
    width: 10px;
    height: 100%;
    background-color: $pale-green;
    position: absolute;
    left: 0;
    top: 12px;
    height: 80px;
  }
}

.button__pulse--hover--orange {
  position: relative;
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background-color: #ffd800;
    border-radius: 50px;
    z-index: -1;
    animation: none;
    width: 100%;
    height: 100%;
  }
  &:hover {
    &:before {
      -webkit-animation: pulseOrange 1000ms ease infinite;
      animation: pulseOrange 1000ms ease infinite;
    }
  }
}

header {
  padding-top: 44px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  .header--nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    transition: .5s all ease-out;
    &:after {
      display: block;
      content:'';
      width: 85px;
      height: 99px;
      background:transparent url('../img/logo.png') center no-repeat;
      position: absolute;
      right: 35px;
      bottom: 35px;
    }
    .close__menu--button {
      position: absolute;
      right: 50px;
      top: 35px;
      font-size: 26px;
      color: #fff;
      opacity: .7;
      padding-right: 30px;
      height: 32px;
      @extend .transition;
      &:hover {
        opacity: 1;
        &:before, &:after {
          opacity: 1;
        }
      }
      &:before, &:after {
        position: absolute;
        right: 0;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #fff;
        opacity: .7;
        top: -3px;
        @extend .transition;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    .headnav {
      position: absolute;
      left: 0;
      top: 0;
      width: 35%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      margin: 0;
      padding-top: 50px;
      li {
        list-style-type: none;
        padding: 15px;
        a {
          font-size: 36px;
          color: #fff;
          opacity: .7;
          @extend .transition;
        }
        &:hover {
          a {
            opacity: 1;
          }
        }
      }
    }
    
  }
  .header--logo {
    display: block;
    text-align: center;
    margin-left: 220px;
    img {
      max-width: 100%;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .header__right {
    padding-top: 102px;
    float: right;
    @extend .flex;
    justify-content: flex-end;
    align-items: center;
    &:after {
      display: block;
      content:'';
      clear: both;
    }
    .header__phone {
      margin-right: 23px;
      font-size: 24px;
    }
    .open__modal--top {
      margin-right: 38px;
      font-size: 20px;
      color: #000000;
      padding: 15px 32px;
      text-align: center;
      background-color: $pale-green;
      border-radius: 30px;
    }
    .language__block {
      margin-right: 53px;
      cursor: pointer;
      a {
        font-size: 24px;
        display: none;
        color: #fff;
        @extend .transition;
        &:hover {
          color: $pale-green;
        }
      }
      .active {
        display: block;
      }
      &:hover {
        a {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
    .hamburger__box {
      position: relative;
      width: 40px;
      height: 30px;
      cursor: pointer;
      &:hover {
        .hamburger__inner {
          background-color: $pale-green;
          &:before, &:after {
            background-color: $pale-green;
          }
        }
      }
      .hamburger__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #fff;
        border-radius: 20px;
        @extend .transition;
        &:before {
          display: block;
          content: '';
          width: 100%;
          height: 6px;
          background-color: #fff;
          position: absolute;
          left: 0;
          top: 12px;
          border-radius: 20px;
          @extend .transition;
        }
        &:after {
          display: block;
          content: '';
          width: 100%;
          height: 6px;
          background-color: #fff;
          position: absolute;
          left: 0;
          top: 24px;
          border-radius: 20px;
          @extend .transition;
        }
      }
    }
  }
}

//Sticky header
.viewing-page-2, .viewing-page-3, .viewing-page-4, .viewing-page-5, .viewing-page-6, .viewing-page-7, .viewing-page-8,  {
  header {
    padding: 15px 0;
    background-color: #3b3b3b6b;
    @extend .transition;
    .header__right {
      padding-top: 50px;
    }
  }
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.first__block {
  height: 100vh;
  #main__slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    div {
      height: 100%;
    }
    .owl-nav {
      display: none;
    }
    .owl-dots {
      position: absolute;
      bottom: 49px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 1250px;
      margin: 0 auto;
      height: auto;
      button {
        width: 43px;
        height: 4px;
        background-color: #fff;
        margin-left: 17px;
        @extend .transition;
        &:hover {
          background-color: #96c93d;
        }
        &:focus {
          outline: none;
        }
        &:first-child {
          margin-left: 0;
        }
      }
      .active {
        background-color: #96c93d;
      }
    }
  }
  .first__block--col {
    position: relative;
    z-index: 5;
    padding-top: 310px;
  }
  h1 {
    font-size: 105px;
    font-weight: 200;
    max-width: 850px;
    width: 100%;
    padding-left: 40px;
    position: relative;
    margin-bottom: 115px;
    &:before {
      display: block;
      content:'';
      width: 265px;
      height: 280px;
      background:transparent url('../img/leaf.png') center no-repeat;
      position: absolute;
      left: -100px;
      top: 40px;
      z-index: 10;
    }
    &:after {
      display: block;
      content:'';
      position: absolute;
      left: 0;
      top: 13px;
      width: 11px;
      height: 80%;
      background-color: $pale-green;
    }
  }
  .choose__ap {
    display: block;
    max-width: 415px;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    background-color: #ffd800;
    padding: 28px 0 26px;
    border-radius: 50px;
    text-align: center;
  }
  .to__second {
    bottom: -170px;
  }
}

.second__block {
  height: 100vh;
  background:transparent url('../img/eco-bg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  .block__col {
    padding-top: 195px;
  }
  .block__title {
    margin-bottom: 70px;
  }
  .second__ecology--content {
    .tab__eco--block {
      display: inline-block;
      width: 33%;
      max-width: 350px;
      margin-left: 100px;
      margin-bottom: 70px;
      h4 {
        font-size: 35px;
        font-weight: 300;
        position: relative;
        margin-bottom: 20px;
        &:before {
          display: block;
          content:'';
          width: 100%;
          height: 95px;
          background:transparent url('../img/e1.png') left center no-repeat;
          margin-bottom: 15px;
        }
      }
      p {
        font-size: 18px;
        line-height: 1.2;
      }
      &:first-child {
        margin-left: 0;
      }
      &:nth-child(2) {
        h4 {
          &:before {
            height: 100px;
            background:transparent url('../img/e2.png') left center no-repeat;
          }
        }
      }
      &:nth-child(3) {
        h4 {
          &:before {
            height: 92px;
            background:transparent url('../img/e3.png') left center no-repeat;
          }
        }
      }
    }
    .tabs {
      .tab_item {
        font-size: 42px;
        margin-right: 5px;
        display: inline-block;
        padding: 15px 50px;
        color: #000;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        background-color: #96c93d;
        z-index: 2;
        @extend .transition;
      }
      .current {
        color: #fff;
        padding: 0;
        background: transparent;
        &:before {
          background: transparent;
        }
      }
    }
  }
}

.third__block {
  height: 100vh;
  background:transparent url('../img/about-bg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  .block__col {
    padding-top: 235px;
  }
  .block__title {
    margin-bottom: 70px;
  }
  .third__block--description {
    max-width: 1235px;
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 55px;
    line-height: 1.2;
  }
  .third__to--article {
    display: block;
    max-width: 240px;
    text-align: center;
    color: #000;
    font-size: 27px;
    font-weight: 700;
    background-color: $pale-green;
    border-radius: 50px;
    padding: 15px 0;
    position: relative;
    z-index: 2;
  }
}

.fourth__block {
  height: 100vh;
  background:transparent url('../img/plan-bg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  .block__col {
    padding-top: 215px;
  }
  .block__title {
    color: #000;
    margin-bottom: 75px;
  }
  .fourth__inner {
    @extend .flex;
    padding-left: 55px;
    margin-bottom: 150px;
  }
  .inner__rooms--block {
    width: 300px;
    height: 260px;
    border-radius: 15px;
    padding-bottom: 40px;
    @extend .flex;
    @extend .transition;
    align-items: flex-end;
    justify-content: center;
    margin-left: 110px;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    .room__title {
      font-size: 24px;
      color: #000000;
    }
  }
  .one__room {
    background:transparent url('../img/room1.png') center 45px no-repeat;
    &:hover {
      background: #70b023 url('../img/room1-hover.png') center 45px no-repeat;
    }
  }
  .two__rooms {
    background:transparent url('../img/room2.png') center 45px no-repeat;
    padding-bottom: 30px;
    &:hover {
      background: #70b023 url('../img/room2-hover.png') center 45px no-repeat;
    }
  }
  .three__rooms {
    background:transparent url('../img/room3.png') center 45px no-repeat;
    padding-bottom: 30px;
    &:hover {
      background: #70b023 url('../img/room3-hover.png') center 45px no-repeat;
    }
  }
  .to__all--rooms {
    display: block;
    max-width: 415px;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 36px;
    font-weight: 700;
    position: relative;
    z-index: 2;
    padding: 28px 0;
    background-color: #ffc400;
    border-radius: 50px;
    margin-left: 405px;
  }
}

  .fifth__block {
    height: 100vh;
    padding-top: 95px;
    position: relative;
    background:transparent url('../img/leaf-bg-1.png') center top;
    background-size: cover;
    .iframe__wrap {
      position: relative;
      max-width: 1525px;
      margin-left: 135px;
      box-shadow: 0 0 20px 0px #333;
      iframe {
        width: 100%;
        max-width: 1525px;
      }
      .video__bg--wrap {
        width: 100%;
        max-width: 1525px;
        height: 805px;
        background: url(../img/video-bg.jpg) no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
      }
      #play-video {
        width: 225px;
        height: 225px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        background-color: rgba(150, 201, 61, 0.89);
        z-index: 2;
          &:after {
            display: block;
            content:'';
            width: 100%;
            height: 100%;
            background: url(../img/play-leaf.png) no-repeat center;
          }
          &:before {
            border-radius: 50%;
          }
      }
    }
    .to__sixth {
      bottom: -100px;
    }
  }
  .sixth__block {
    height: 100vh;
    position: relative;
    background:transparent url('../img/leaf-bg-2.png') center top;
    background-size: cover;
    padding-top: 100px;
    .col-md-12 {
      max-width: 1555px;
      margin-left: 135px;
    }
    #sync1 {
      margin-bottom: 22px;
      .item {
        box-shadow: 0 0 20px 0px #333;
      }
      .owl-nav {
        button {
          width: 50px;
          height: 90px;
          position: absolute;
          &:focus {
            outline: none;
          }
        }
        .owl-prev {
          top: 20px;
          left: -70px;
          bottom: 0;
          margin-top: auto;
          margin-bottom: auto;
        }
        .owl-next {
          top: 20px;
          right: -70px;
          bottom: 0;
          margin-top: auto;
          margin-bottom: auto;
        }
        .disabled {
          svg {
            path {
              stroke: rgba(255, 255, 255, .3) !important;
            }
          }
        }
      }
      .owl-dots {
        display: none;
      }
    }
    #sync2 {
      max-width: 1445px;
      margin: 0 auto;
      .item {
        width: 125px;
        height: 75px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .owl-nax, .owl-dots {
        display: none;
      }
    }
    .to__seventh {
      bottom: -140px;
    }
  }

.seventh__block {
  padding-top: 190px;
  background:transparent url('../img/news-bg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  .block__title {
    color: #000;
    margin-bottom: 60px;
  }
  .news__inner {
    max-width: 1250px;
    @extend .flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .news__item {
    max-width: 370px;
    margin-left: 70px;
    color: #000;
    margin-bottom: 100px;
    .news__thumb {
      width: 100%;
      max-height: 175px;
      overflow: hidden;
      margin-bottom: 15px;
    }
    &:first-child {
      margin-left: 0;
    }
    .news__title {
      display: block;
      color: #000;
      font-size: 27px;
      margin-bottom: 25px;
    }
    .news__description {
      font-size: 18px;
      max-height: 58px;
      overflow: hidden;
      line-height: 1.1;
      margin-bottom: 10px;
    }
    .date {
      font-size: 18px;
    }
  }
  .all__news {
    display: block;
    max-width: 350px;
    width: 100%;
    text-align: center;
    color: #000;
    background-color: $pale-green;
    padding: 25px 0;
    border-radius: 50px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 125px;
    position: relative;
    z-index: 2;
  }
}

#footer {
  padding-top: 135px;
  background-color: #3a4249;
  .first__footer--col {
    padding-left: 295px;
    p {
      font-size: 20px;
      display: block;
      line-height: 1.2;
      span {
        font-weight: 700;
        display: block;
      }
      span.normal {
        font-weight: 400;
      }
    }
    .first {
      margin-bottom: 10px;
    }
  }
  .second__footer--col {
    padding-left: 0;
    .second__col--inner {
      max-width: 605px;
      p {
        font-size: 18px;
        line-height: 1.2;
        margin-top: 22px;
        display: block;
        &:first-child {
          margin-top: 0;
        }
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
        }
      }
    }
  }
  #map {
    width: 560px;
    height: 350px;
    margin-bottom: 30px;
  }
  .second__footer--row {
    margin-top: 100px;
    text-align: center;
    p {
      font-size: 20px;
      margin-bottom: 70px;
      display: block;
    }
    .copyright {
      display: block;
      font-size: 16px;
      padding: 15px 55px 15px 0;
      max-width: 170px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 70px;
      background:transparent url('../img/c-logo.png') right center no-repeat;
      color:#fff;
    }
  }
}

//Pagination
.onepage-pagination {
  li {
    a {
      p {
        display: none;
      }
    }
    .active {
      p {

      }
    }
  }
}


//Animations
 @-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(150, 201, 61, 0.35);
  }
  70% {
      -webkit-box-shadow: 0 0 0 15px rgba(150, 201, 61, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(150, 201, 61, 0);
  }
}
@keyframes pulse {
   0% {
    -moz-box-shadow: 0 0 0 0 rgba(150, 201, 61, 0.35);
    box-shadow: 0 0 0 0 rgba(150, 201, 61, 0.35);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(150, 201, 61, 0);
      box-shadow: 0 0 0 15px rgba(150, 201, 61, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(150, 201, 61, 0);
      box-shadow: 0 0 0 0 rgba(150, 201, 61, 0);
  }
}

@-webkit-keyframes pulseOrange {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 216, 0, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 15px rgba(150, 201, 61, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(150, 201, 61, 0);
  }
}
@keyframes pulseOrange {
   0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 216, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 216, 0, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(150, 201, 61, 0);
      box-shadow: 0 0 0 15px rgba(150, 201, 61, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(150, 201, 61, 0);
      box-shadow: 0 0 0 0 rgba(150, 201, 61, 0);
  }
}

//Media queries


@media all and (min-width: 1840px) {
  .block__wrap {
    .block__col {
      padding-left: 295px;
    }
  }
}

@media all and (max-width: 1839px) {
  .block__wrap {
    .block__col {
      padding-left: 195px;
    }
  }
  .fifth__block {
    .iframe__wrap {
      margin: 0 auto;
      max-width: 1200px;
    }
  }
  .sixth__block {
    .col-md-12 {
        max-width: 1200px;
       margin: 0 auto;
       float: none;
    }
    #sync2 {
        max-width: 1050px;
      .item {
        width: 100px;
        height: 60px;
      }
    }
  }
}

@media all and (max-width: 1350px) {
  .viewing-page-2, .viewing-page-3, .viewing-page-4, .viewing-page-5, .viewing-page-6, .viewing-page-7, .viewing-page-8,  {
  header {
    padding: 5px 0;
    background-color: #3b3b3b6b;
    .header--logo {
      img {
        margin-bottom: 5px;
      }
    }
    .header__right {
      padding-top: 30px;
    }
  }
}
  header {
    padding-top: 15px;
    .header--logo {
      margin-left: 0;
      img {
        margin-bottom: 10px;
        max-width: 60px;
      }
      p {
        font-size: 16px;
      }
    }
    .header__right {
      padding-top: 65px;
      .header__phone {
        font-size: 18px;
        margin-right: 20px;
      }
      .open__modal--top {
        font-size: 18px;
        padding: 13px 20px 10px 20px;
        margin-right: 20px;
      }
      .language__block {
        margin-right: 20px;
        a {
          font-size: 18px;
        }
      }
      .hamburger__box {
        width: 35px;
        height: 25px;
        .hamburger__inner {
          height: 4px;
          margin-bottom: 4px;
          &:before, &:after {
            height: 4px;
            margin-bottom: 4px;
            top: 10px;
          }
          &:after {
            top: 20px;
          }
        }
      }
    }
    .header--nav {
      .headnav {
        li {
          padding: 10px;
          a {
            font-size: 28px;
          }
        }
      }
      .close__menu--button {
        font-size: 24px;
      }
    }
  }
  .block__title {
    font-size: 75px;
    padding-left: 25px;
    &:after {
      width: 8px;
      top: 8px;
      height: 60px;
    }
  }
  .block__wrap {
    .block__col {
      padding-left: 100px;
    }
  }
  .next__block--button {
    width: 20px;
    height: 40px;
    background-size: contain;
  }
  .next__block--button--green {
    width: 20px;
    height: 40px;
    background-size: contain;
  }
  .onepage-pagination {
    li {
      a {
        &.active {
          &:before {
            width: 24px !important;
            height: 24px !important;
            border: 3px solid #96c93d !important;
            right: 20px !important;
          }
        }
      }
    }
  }
  .onepage-pagination {
    li {
      a {
        &:before {
          right: 17px !important;
        }
      }
    }
  }
 .onepage-pagination {
    li {
      a {
        p {
          font-size: 14px !important;
          min-width: 110px !important;
          left: -155px !important;
        }
      }
    }
  }
  .first__block {
    max-height: 667px;
    h1 {
      font-size: 85px;
      padding-left: 30px;
      margin-bottom: 60px;
      &:after {
        width: 9px;
      }
      &:before {
        background-size: contain;
        width: 200px;
        height: 250px;
        left: -90px;
        top: 0px;
      }
    }
    .first__block--col {
      padding-top: 180px;
    }
    .choose__ap {
      max-width: 280px;
      font-size: 24px;
      padding: 18px 0;
    }
    #main__slider {
      .owl-dots {
        bottom: 50px;
        max-width: 1065px;
       button {
        width: 40px;
        height: 3px;
        margin-left: 12px;
       }
      }
    }
    .to__second {
      bottom: -190px;
    }
  }

  .second__block {
    .block__col {
      padding-top: 130px;
    }
    .block__title {
      margin-bottom: 30px;
    }
    .second__ecology--content {
      .tab__eco--block {
        max-width: 300px;
        margin-left: 50px;
        margin-bottom: 40px;
        h4 {
          &:before {
            background-size: contain;
            height: 70px;
            margin-bottom: 10px;
          }
        }
        h4 {
          font-size: 28px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
        }
        &:nth-child(2) {
          h4 {
            &:before {
              height: 80px;
              background-size: contain;
            }
          }
        }
        &:nth-child(3) {
          h4 {
            &:before {
              height: 80px;
              background-size: contain;
            }
          }
        }
      }
      .tabs {
        .tab_item {
          font-size: 26px;
          padding: 8px 28px;
        }
      }
    }
  }
  .third__block {
    .block__col {
      padding-top: 150px;
    }
    .block__title {
      margin-bottom: 30px;
    }
    .third__block--description {
      font-size: 20px;
      margin-bottom: 50px;
    }
    .third__to--article {
      max-width: 220px;
      font-size: 24px;
      padding: 13px 0;
    }
  }
}

@media all and (max-width: 770px) {
  .viewing-page-2, .viewing-page-3, .viewing-page-4, .viewing-page-5, .viewing-page-6, .viewing-page-7, .viewing-page-8 {
    header {
      .header__right {
        padding-top: 20px;
      }
    }
  } 
  header {
    padding: 5px 0;
    background-color: #3b3b3b6b;
    .header--logo {
      img {
        margin-bottom: 5px;
        max-width: 40px;
      }
      p {
        font-size: 11px;
      }
    }
    .header__right {
      padding-top: 20px;
      .header__phone {
        font-size: 16px;
      }
      .open__modal--top {
        font-size: 14px;
        padding: 9px 15px;
      }
      .language__block {
        a {
          font-size: 16px;
        }
      }
      .hamburger__box {
        width: 30px;
        height: 20px;
        .hamburger__inner {
          height: 3px;
          margin-bottom: 3px;
          &:before, &:after {
            height: 3px;
            margin-bottom: 3px;
            top: 8px;
          }
          &:after {
            top: 16px;
          }
        }
      }
    }
    .header--nav {
      &:after {
        background-size: contain;
        width: 50px;
        right: 15px;
        bottom: 15px;
      }
      .close__menu--button {
        font-size: 18px;
        padding-right: 20px;
        right: 30px;
        top: 25px;
        &:before, &:after {
          height: 24px;
          width: 1px;
        }
      }
      .headnav {
        padding-top: 20px;
        padding-left: 20px;
        li {
          padding: 7px;
          a {
            font-size: 18px;
          }
        }
      }
    }
  }
  .block__title {
    font-size: 48px;
    padding-left: 15px;
    &:after {
      width: 5px;
      top: 5px;
      height: 40px;
    }
  }
  .block__wrap {
    .block__col {
      padding-left: 75px;
    }
  }
  .next__block--button {
    width: 10px;
    height: 20px;
    background-size: contain;
    bottom: 5px;
  }
  .next__block--button--green {
    width: 10px;
    height: 20px;
    background-size: contain;
  }
  .onepage-pagination {
    li {
      a {
        &.active {
          padding: 10px;
          &:before {
            width: 18px !important;
            height: 18px !important;
            border: 2px solid #96c93d !important;
            right: 10px !important;
          }
        }
      }
    }
  }
  .onepage-pagination {
    display: none;
  }

  .first__block {
    height: auto;
    h1 {
      font-size: 48px;
      padding-left: 20px;
      margin-bottom: 35px;
      max-width: 400px;
      &:after {
        width: 7px;
        height: 90%;
        top: 5px;
      }
      &:before {
        background-size: contain;
        width: 130px;
        height: 130px;
        left: -70px;
        top: 0px;
      }
    }
    .first__block--col {
      padding-top: 90px;
    }
    .choose__ap {
      max-width: 180px;
      font-size: 16px;
      padding: 12px 0;
    }
    #main__slider {
      .owl-dots {
        bottom: 10px;
        max-width: 595px;
       button {
        width: 40px;
        height: 3px;
        margin-left: 12px;
       }
      }
    }
    .to__second {
      bottom: -50px;
    }
  }

  .second__block {
    height: auto;
    .block__col {
      padding-top: 80px;
    }
    .block__title {
      margin-bottom: 10px;
    }
    .second__ecology--content {
      .tab__eco--block {
        max-width: 180px;
        margin-left: 50px;
        margin-bottom: 10px;
        h4 {
          font-size: 14px;
          margin-bottom: 5px;
          &:before {
            background-size: contain;
            height: 30px;
            margin-bottom: 5px;
          }
        }
        p {
          font-size: 10px;
          max-height: 50px;
          overflow: hidden;
        }
        &:nth-child(2) {
          h4 {
            &:before {
              height: 40px;
              background-size: contain;
            }
          }
        }
        &:nth-child(3) {
          h4 {
            &:before {
              height: 40px;
              background-size: contain;
            }
          }
        }
      }
      .tabs {
        .tab_item {
          font-size: 14px;
          padding: 5px 15px;
        }
      }
    }
  }
  .third__block {
    height: auto;
    .block__col {
      padding-top: 80px;
    }
    .block__title {
      margin-bottom: 10px;
    }
    .third__block--description {
      font-size: 14px;
      margin-bottom: 15px;
    }
    .third__to--article {
       max-width: 150px;
      font-size: 16px;
      padding: 7px 0;
    }
  }
}

@import "fonts/font_roboto";
